{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChainVault Cloud</title>
  <link rel="stylesheet" href="{% static 'css/cloud_storage.css' %}">
</head>
<body>
  <div class="container">
    <div class="left-panel">
      <h2>ChainVault</h2>
      <div class="user-info">
        <p>User: {{request.user.first_name}}</p>
        <p>Email: {{request.user.email}}</p>
      </div>
      <div class="storage-info">
        <h3>Storage Information</h3>
        <p>Available Space: 10 GB</p>
        <p>Used Space: 5 GB</p>
      </div>
      <button id="uploadBtnLeft">Upload File</button><br>
      <button id="shareBtnLeft">Share File</button><br>
      <button id="logoutBtn" onclick="logout()">Logout</button>
    </div>
    <div class="right-panel">
      <div class="top-right">
        <h1>File Dashboard</h1>
        <div>
          <button id="fetchBtnRight" onclick="fetchData()">Fetch My Data</button>
          <button id="uploadBtnRight">Upload File</button>
        </div>
      </div>
      <div id="fileList">
        {% if file %}
            {% for key,value in file.items %}
                {% if value.shared == 'True' %}
                  {% if value.sender == request.user.email %}
                    <div id="{{key}}" class="fileItem"><p>{{key}}&emsp;(SHARED)</p><div><button class="download-btn" data-filename="{{key}}" data-shared="True" data-sender="none" data-receiver="{{value.receiver}}" onclick="fileInfo(this)">Info</button>&nbsp;&nbsp;<button class="download-btn" data-filename="{{key}}" data-shared="True" data-sender="none" data-receiver="{{value.receiver}}" onclick="Downloadz(this)">Download</button>&nbsp;&nbsp;<button class="delete-btn" data-filename="{{key}}" onclick="deleteFile(this)">Delete</button></div></div>
                  {% else %}
                    <div id="{{key}}" class="fileItem"><p>{{key}}&emsp;(SHARED)</p><div><button class="download-btn" data-filename="{{key}}" data-shared="True" data-sender="{{value.sender}}" data-receiver="none" onclick="fileInfo(this)">Info</button>&nbsp;&nbsp;<button class="download-btn" data-filename="{{key}}" data-shared="True" data-sender="{{value.sender}}" data-receiver="none" onclick="Downloadz(this)">Download</button>&nbsp;&nbsp;<button class="delete-btn" data-filename="{{key}}" onclick="deleteFile(this)">Delete</button></div></div>
                  {% endif %}
                {% else %}
                <div id="{{key}}" class="fileItem"><p>{{key}}</p><div><button class="download-btn" data-filename="{{key}}" data-shared="False" onclick="fileInfo(this)">Info</button>&nbsp;&nbsp;<button class="download-btn" data-filename="{{key}}" data-shared="False" onclick="Downloadz(this)">Download</button>&nbsp;&nbsp;<button class="delete-btn" data-filename="{{key}}" onclick="deleteFile(this)">Delete</button></div></div>
                {% endif %}
            {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
  <div id="uploadModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Upload File</h2>
      <h4 id="msg"></h4>
      <input type="file" id="fileInput" name="uploadFile">
      <input type="password" name="password" id="passwordInput" placeholder="Enter Password">
      <button id="uploadSubmitBtn">Upload</button>
    </div>
  </div>

  <div id="shareModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Share File</h2>
      <h4 id="msgShare"></h4>
        <select id="file-select" onchange="toggleUpload()">
          <option value="">Choose a file</option>
              {% if file %}
                {% for i in file %}
                  <option value="{{i}}">{{i}}</option>
                {% endfor %}
            {% endif %}
        </select>
      <p>OR</p>
      <input type="file" id="fileInputShare" name="uploadFile" onchange="toggleSelect()"><br>
      <input type="email" name="receiver" id="receiver" placeholder="Enter Receiver">
      <input type="password" name="password" id="passwordShareInput" placeholder="Enter Password">
      <button id="shareSubmitBtn">Share</button>
      
    </div>
  </div>

  <div id="passwordModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
        <h2 id="downMsg">Download File</h2>
        <h4 id="msg1"></h4>
        <input type="password" name="password" id="filePassword" placeholder="Enter Password">
        <button id="passwordSubmitBtn">Download</button><br><br>
        <span id="downPass"> </span>
    </div>
  </div>
  <div id="infoModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
        <h2 id="downMsg">File Information</h2>
        <h4 id="msgfile"></h4>
    </div>
  </div>
  <script src="{% static 'js/cloud_storage.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
