<html>
    <body>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" id="fileName" name="file_name" placeholder="Enter your file name">
            <input type="password" name="password" placeholder="Enter your Password">
            <button type="submit">Download</button>
          </form>

          {% if file_names %}
          <ul>
          {% for i in file_names %}
            <li><button id={{i}} onclick="foo(this.value)" value="{{i}}">{{i}}</button></li><br>
          {% endfor %}
          </ul>
          {% endif %}
        
          {% if download_url %}
            <p>Download File: <a href="{{ download_url }}" download>{{ download_url }}</a></p>
          {% endif %}

          {% if error %}
            <p>{{ error }}</p>
          {% endif %}
    
        
          <p><a href="{% url 'home' %}">Return to home</a></p><br>
          <p><a href="{% url 'dashboard' %}">Dashboard</a></p><br>
          <p><a href="{% url 'upload' %}">Upload</a></p>
        
        
    </body>
  <script>
    function foo(value) {
      document.getElementById("fileName").value = value;
    }
  </script>
</html>

